body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: white;
  background-color: #162447
}

#nav {
  background-color: rgb(48, 73, 126);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  height: 100px;
}

.nav-item {
  font-family: nobel, sans-serif;
  font-size: 25px;
  cursor: pointer;
  font-weight: 500;
}

.left {
  margin: 30px;
}

.right {
  width: 150px;
  margin-left: auto;
  margin-right: 30px;
}

.page-content {
  height: 100%;
  width: 100%;
}

.sorting-section {
  height: 100%;
  background-color:#162447; 
}

.container {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

#bar-container {
  height: 100%;
  margin: 35px;
  align-items: flex-start;
  transform: rotate(180deg) scaleX(-1); 
}

#indiv_bar {
  border: 2;
  border-radius: 5px;
  background: #e43f5a;
  width: 10px;
  margin: 10px 2px 0px 2px;
}

.flex-item {
  display: flex; 
  border: 1pt solid black; 
  transition: 1s all ease; 
}

#sort-btn {
  height: 50px;
  width: 150px;
  font-family: nobel, sans-serif;
  font-size: 30px;
  border-radius: 10px;
  border: none;
}
